<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="https://th.bing.com/th/id/R.b1b89b092fa7d3bd90956160b68c24d1?rik=KnpQBG9atts%2fHQ&pid=ImgRaw&r=0" alt="TikTok Bumber">
    </div>
    <h2>Thank You for Logging In!</h2>
    <p>Your page is being bumped starting after you make payment.</p>
  </div>
</body>
</html>
